@model 高级java大作业.Models.QuestionnaireModel
@{
    ViewBag.Title = "问卷填写";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/Css/User/FillIn.css" rel="stylesheet" />
<div id="head">&nbsp;</div>
<div class="page">
    <h1 id="title">@Model.QName</h1>
    <h3 id="subtitle">——————作者：@Model.UserName</h3>
    <div class="layui-elem-quote" >
        <p style="text-align:center">请尽量如实填写，保证问卷的真实性，如有疑问，请咨询作者！</p>
    </div>
    <hr>
    <form class="layui-form" action="/Home/FillInSave" method="post" onsubmit="return CheckSubmit(@Model.Questions.Count)">
    @for (var i = 0; i < Model.Questions.Count; i++)
    {
        <div class="layui-form-item">
            <div class="questionName">@(i+1),@Model.Questions[i].QuestionName</div>
          
            <div class="layui-input-block iInput">
                <input type="hidden" name="answers[@(i)].QId" value="@Model.QId">
                <input type="hidden" name="answers[@(i)].QuestionId" value="@Model.Questions[i].QuestionId">
                @if(Model.Questions[i].Type == "单选   ")
                {
                    for (var j = 0; j < Model.Questions[i].Options.Count; j++)
                    {
                        <input type="radio"id="answers[@(i)].OptionId" name="answers[@(i)].OptionId"  value="@Model.Questions[i].Options[j].OptionId" title="@(j+1).@Model.Questions[i].Options[j].OptionName">
                    }
                }
                else
                {
                    for (var j = 0; j < Model.Questions[i].Options.Count; j++)
                    {
                        <input type="checkbox" id="answers[@(i)].OptionId"name="answers[@(i)].OptionId" value="@Model.Questions[i].Options[j].OptionId" title="@(j+1).@Model.Questions[i].Options[j].OptionName">
                    }
                }
            </div>
        </div>
    }
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>


<div id="foot">&nbsp;</div>
<script src="~/Js/jquery-1.11.0.min.js"></script>
<script src="~/layui/layui.js"></script>

<script type="text/javascript">
</script>
<script>
    layui.use('form','layer', function () {
        var form = layui.form();
        var layer = layui.layer;
        form.render();
    });
    function CheckSubmit(questionCount) {
        for (var i = 0; i < questionCount; i++) {
            if ($('input:checkbox[name="answers[' + i + '].OptionId"]:checked').val() == null 
                && $('input:radio[name="answers[' + i + '].OptionId"]:checked').val() == null) {
               
                layer.msg("请确认填写完了所有问题");
                return false;
            }
            
        }
        return true;
    }
  
</script>