@model 高级java大作业.Models.QuestionnaireAnalysis
@{
    ViewBag.Title = "调查统计";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/Css/User/QuestionnaireAnalysis.css" rel="stylesheet" />
<div id="head">&nbsp;</div>

<div class="page">
    <div class="layui-elem-quote" style="margin-top: 20px;">
        <p>你的问卷统计,通过此结果可分析出你想要的结果</p>
    </div>

    <div class="show_Title">填写人统计</div>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>填写人IP</th>
                <th>填写时间</th>
                <th>问卷名</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.answerShowList.Count == 0)
            {
                <tr>
                    <td>
                        当前无数据
                    </td>
                    
                </tr>
            }
            else
            {
                var ipAddress = "";
                foreach (var answer in Model.answerShowList)
                {
                    if (ipAddress != answer.IpAddress)
                    {
                        ipAddress = answer.IpAddress;
                        <tr>
                            <td>@ipAddress</td>
                            <td>@answer.CreateTime</td>
                            <td>@answer.QName</td>
                        </tr>
                    }


                }

            }
           
        </tbody>
    </table>
    <div class="show_Title">问题填写统计</div>
    
        @foreach (var question in Model.questionnaireModel.Questions)
        {
           
            <div class="questionName">@question.QuestionName</div>
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        @foreach (var option in question.Options)
                        {
                            
                            <th>@option.OptionName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var option in question.Options)
                        {
                            int count = 0;
                            
                            foreach (var answer in Model.answerShowList)
                            {
                                foreach (var optionName in answer.OptionName)
                                {
                                    if (optionName == option.OptionName)
                                    {
                                        count++;
                                    }

                                }
                            }
                            <td>@count 人填写</td>
                        }
                    </tr>


                    
                </tbody>
            </table>
        }


           
</div>

<div id="foot">&nbsp;</div>

<script src="~/Js/jquery.min.js"></script>
<script src="~/layui/layui.js"></script>

